.feynman__title {
  width: 775px;
<<<<<<< HEAD
  margin: 0 auto 100px auto;
=======
  margin: 0 auto;
>>>>>>> 8fb933992e3cbe60a236dffb8a6651fb29d31603
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
