.cards__item {
<<<<<<< HEAD
  margin-top: 60px;
  margin-right: 100px;
  width: 240px;
  text-align: center;
  padding: 0;
  list-style: none;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
=======
  width: 240px;
  padding: 60px 100px;
>>>>>>> 8fb933992e3cbe60a236dffb8a6651fb29d31603
}
