.oakley {
<<<<<<< HEAD
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  margin: -100px 0 0 0;
  justify-content: center;
  align-items: baseline;
  padding: 60px 10% 0 10%;
=======
  margin: 0 auto;
>>>>>>> 8fb933992e3cbe60a236dffb8a6651fb29d31603
}
